In [1]:
import os
from django.core.wsgi import get_wsgi_application

os.environ.setdefault('DJANGO_SETTINGS_MODULE', 'core.settings')
application = get_wsgi_application()

#d = services.scotiabank_web_scraping('180223967', 'Dazikum1234')

In [ ]:
from bank.models import DataBanks  # Import your model

def delete_all_records():
    try:
        # Use the `all()` method to select all records in the model
        all_records = DataBanks.objects.all()

        # Delete all selected records
        all_records.delete()
    except Exception as e:
        # Handle any exceptions that may occur during the deletion process
        # You can log the error or perform any other necessary actions
        print(f"An error occurred while deleting all records: {str(e)}")

delete_all_records()

In [15]:
import pandas as pd
from os import listdir
from os.path import join, isfile
from dateutil.relativedelta import relativedelta
from bank import models as models_bank
from django.db import transaction
from datetime import datetime
from dateutil.relativedelta import relativedelta
import json
import requests
import re
from bank import constants
import openai

class ChatGPT():

    def  __init__(self, text):
        self.text = text
        openai.api_key =  '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'
    
    def agentSQL(self):

        conversation_history = [
        {"role": "system", 
        "content": """You are a SQL expert, with a lot of experience in the banking sector. Your goal is to transform 
                      a sentence into a SQL query. You will use a table call BankAccounts, with the following columns:
                        - currency: currency of the account
                        - amount: amount of the transaction
                        - date: date of the transaction. The data is in the format YYYY-MM-DD.
                        - type: type of expense. It can be: Ingreso, Egreso, Inversiones.
                        - category: category of the transaction. The categories are: 'Cine & Casino', 'Pago de Deudas',
                        'Educacion','Salud','Viajes & Hoteles','Ingreso','Seguros','Aseo & Limpieza','Restaurant & Bar',
                        'Farmacias', 'Supermercados & Retails', 'Transporte', 'Otros','Deportes','Suscripciones','SII',
                        'Transferencias','Cuentas & Servicios','Transporte','Otros'.

                        You will recieve a text, and you will have to transform it into a SQL query. For example, if you recieve:
                        dicc = {'question': ¿Cuánto dinero gasté en el mes de enero de este año?', 
                                'answer': "SELECT SUM(amount) 
                        FROM BankAccounts 
                        WHERE EXTRACT(YEAR FROM date) = EXTRACT(YEAR FROM CURRENT_DATE) 
                        AND EXTRACT(MONTH FROM date) = EXTRACT(MONTH FROM CURRENT_DATE) 
                        AND type = 'Egreso'"}
                        
                        You output format should be a JSON with the following structure:
                        {'question': '','answer': 'SQL Statement'}

                        If you can not transform the text into a SQL query, you should return the following JSON:
                        {'question': '','answer': False}
                    """
        },
        ]
        try:
            response = openai.ChatCompletion.create(
                model="gpt-3.5-turbo-16k",
                messages=conversation_history,
                temperature=0.2
            )
            get_response_sql = response.choices[0].message["content"]
            get_response_sql = json.loads(get_response_sql)
            return get_response_sql
        except:
            get_response_sql =  {'question': '','answer': False}
        return get_response_sql
    

    def agentGraph(self):
        return True
    
    
    def main(self, text_user):
        
        self.agentSQL(text_user)
        return True


d = ChatGPT('¿Cuales es el promedio de gastos del mes?')
d.agentSQL()

DEBUG 2023-10-27 12:31:22,832 util message='Request to OpenAI API' method=post path=https://api.openai.com/v1/chat/completions
DEBUG 2023-10-27 12:31:22,834 util api_version=None data='{"model": "gpt-3.5-turbo-16k", "messages": [{"role": "system", "content": "You are a SQL expert, with a lot of experience in the banking sector. Your goal is to transform \\n                      a sentence into a SQL query. You will use a table call BankAccounts, with the following columns:\\n                        - currency: currency of the account\\n                        - amount: amount of the transaction\\n                        - date: date of the transaction. The data is in the format YYYY-MM-DD.\\n                        - type: type of expense. It can be: Ingreso, Egreso, Inversiones.\\n                        - category: category of the transaction. The categories are: \'Cine & Casino\', \'Pago de Deudas\',\\n                        \'Educacion\',\'Salud\',\'Viajes & Hoteles\',\'Ingreso\',\'Seguros\',\'Aseo & Limpieza\',\'Restaurant & Bar\',\\n                        \'Farmacias\', \'Supermercados & Retails\', \'Transporte\', \'Otros\',\'Deportes\',\'Suscripciones\',\'SII\',\\n                        \'Transferencias\',\'Cuentas & Servicios\',\'Transporte\',\'Otros\'.\\n\\n                        You will recieve a text, and you will have to transform it into a SQL query. For example, if you recieve:\\n                        dicc = {\'question\': \\u00bfCu\\u00e1nto dinero gast\\u00e9 en el mes de enero de este a\\u00f1o?\', \\n                                \'answer\': \\"SELECT SUM(amount) \\n                        FROM BankAccounts \\n                        WHERE EXTRACT(YEAR FROM date) = EXTRACT(YEAR FROM CURRENT_DATE) \\n                        AND EXTRACT(MONTH FROM date) = EXTRACT(MONTH FROM CURRENT_DATE) \\n                        AND type = \'Egreso\'\\"}\\n                        \\n                        You output format should be a JSON with the following structure:\\n                        {\'question\': \'\',\'answer\': \'SQL Statement\'}\\n\\n                        If you can not transform the text into a SQL query, you should return the following JSON:\\n                        {\'question\': \'\',\'answer\': False}\\n                    "}], "temperature": 0.2}' message='Post details'
DEBUG 2023-10-27 12:31:26,436 connectionpool https://api.openai.com:443 "POST /v1/chat/completions HTTP/1.1" 200 None
DEBUG 2023-10-27 12:31:26,439 util message='OpenAI API response' path=https://api.openai.com/v1/chat/completions processing_ms=3195 request_id=ab0c86623320cd3a58a549d1cb9fae74 response_code=200

'{\'question\': \'¿Cuánto dinero gasté en el mes de enero de este año?\', \n \'answer\': "SELECT SUM(amount) \n            FROM BankAccounts \n            WHERE EXTRACT(YEAR FROM date) = EXTRACT(YEAR FROM CURRENT_DATE) \n            AND EXTRACT(MONTH FROM date) = 1 \n            AND type = \'Egreso\'"}'

In [112]:
from bank import models as models_bank
import pandas as pd
import datetime
from llama_index import Document
import calendar


table_transaction_banks = models_bank.DataBanks.objects.all()


table_expenses = []
for transaction in table_transaction_banks:
    currency = transaction.currency
    description = transaction.description
    amount = transaction.amount
    date = transaction.date
    type_expenses = transaction.type_expenses
    account_name = transaction.account_name
    account_number = transaction.account_number
    category_description = transaction.category_description
    tupla = (currency, description, amount, date, type_expenses, account_name, account_number, category_description)
    table_expenses.append(tupla)
df = pd.DataFrame(table_expenses, columns=['currency', 'description', 'amount', 'date', 'type_expenses', 'account_name', 'account_number', 'category_description'])
df

df

,currency,description,amount,date,type_expenses,account_name,account_number,category_description
0,CLP,Traspaso A:Yesicca Villalobos,5000,2023-10-23,Egreso,Cuenta Corriente,acc_zMJnK51TV87AK7AB,Transferencias
1,CLP,Transferencia Desde Linea De Credito,5000,2023-10-23,Ingreso,Cuenta Corriente,acc_zMJnK51TV87AK7AB,Pago de Deudas
2,CLP,Pago:merpago*carbones,2000,2023-10-23,Egreso,Cuenta Corriente,acc_zMJnK51TV87AK7AB,Otros
3,CLP,Pago:merpago*carbones,16800,2023-10-23,Egreso,Cuenta Corriente,acc_zMJnK51TV87AK7AB,Otros
4,CLP,Pago:merpago*comercial,7990,2023-10-23,Egreso,Cuenta Corriente,acc_zMJnK51TV87AK7AB,Otros
...,...,...,...,...,...,...,...,...
946,CLP,"ROSEN TASA INT. 0,00%",186664,2022-11-05,Egreso,Tarjeta de Crédito,acc_yrpoWwT33nN5oYB4,Supermercados & Retails
947,CLP,Pago Pesos TEF,156780,2022-11-03,Ingreso,Tarjeta de Crédito,acc_yrpoWwT33nN5oYB4,Transferencias
948,CLP,BEAT TCOMP SANTIAGO,4941,2022-11-02,Egreso,Tarjeta de Crédito,acc_yrpoWwT33nN5oYB4,Otros
949,USD,TRASPASO DEUDA INTERNAC,1119,2022-11-14,Ingreso,Tarjeta de Crédito,acc_1emKgXTbbjeblvRN,Transferencias
950,USD,NETFLIX.COM,1197,2022-11-14,Egreso,Tarjeta de Crédito,acc_1emKgXTbbjeblvRN,Otros

In [108]:
df

,currency,description,amount,date,type_expenses,account_name,account_number,category_description
0,CLP,Traspaso A:Yesicca Villalobos,5000,2023-10-23,Egreso,Cuenta Corriente,acc_zMJnK51TV87AK7AB,Transferencias
2,CLP,Pago:merpago*carbones,2000,2023-10-23,Egreso,Cuenta Corriente,acc_zMJnK51TV87AK7AB,Otros
3,CLP,Pago:merpago*carbones,16800,2023-10-23,Egreso,Cuenta Corriente,acc_zMJnK51TV87AK7AB,Otros
4,CLP,Pago:merpago*comercial,7990,2023-10-23,Egreso,Cuenta Corriente,acc_zMJnK51TV87AK7AB,Otros
6,CLP,Pago:paramount+,3233,2023-10-23,Egreso,Cuenta Corriente,acc_zMJnK51TV87AK7AB,Otros
...,...,...,...,...,...,...,...,...
944,CLP,"ROSEN TASA INT. 0,00%",199998,2022-11-05,Egreso,Tarjeta de Crédito,acc_yrpoWwT33nN5oYB4,Supermercados & Retails
945,CLP,"ROSEN TASA INT. 0,00%",186665,2022-11-05,Egreso,Tarjeta de Crédito,acc_yrpoWwT33nN5oYB4,Supermercados & Retails
946,CLP,"ROSEN TASA INT. 0,00%",186664,2022-11-05,Egreso,Tarjeta de Crédito,acc_yrpoWwT33nN5oYB4,Supermercados & Retails
948,CLP,BEAT TCOMP SANTIAGO,4941,2022-11-02,Egreso,Tarjeta de Crédito,acc_yrpoWwT33nN5oYB4,Otros
950,USD,NETFLIX.COM,1197,2022-11-14,Egreso,Tarjeta de Crédito,acc_1emKgXTbbjeblvRN,Otros

In [60]:
df['currency'].value_counts().index

Index(['CLP', 'USD'], dtype='object', name='currency')

In [119]:
import pandas as pd
from os import listdir
from os.path import join, isfile
from dateutil.relativedelta import relativedelta
from bank import models as models_bank
from django.db import transaction
from datetime import datetime
from dateutil.relativedelta import relativedelta
import json
import requests
import re
from bank import constants

class ExtractFintoc():  
    def __init__(self, link_token, security_token):
        self.link_token = link_token
        self.security_token = security_token

    def get_accounts(self):
        url = "https://api.fintoc.com/v1/accounts/?link_token={}".format(self.link_token)
        headers = {
            "accept": "application/json",
            "Authorization": self.security_token
        }
        response = requests.get(url, headers=headers)
        json_account = json.loads(response.text)
        table_account = []
        for i in range(len(json_account)):
            id_account = json_account[i]['id']
            name = json_account[i]['name']
            number = json_account[i]['number']
            type_account = json_account[i]['type']
            tupla = {'id_account': id_account, 'name': name, 'number': number, 'type_account': type_account}
            table_account.append(tupla)    
        return table_account
    
    def months_table_iso(self):

        current_date = datetime.utcnow()
        table_months = []
        for i in range(12):
            month = {
                "year": current_date.year,
                "month": current_date.month,
                "date_start": current_date.replace(day=1, hour=0, minute=0, second=0, microsecond=0).isoformat() + "Z",
                "date_end": (current_date.replace(day=1, hour=0, minute=0, second=0, microsecond=0) + relativedelta(months=1, seconds=-1)).isoformat() + "Z"
            }
            table_months.append(month)
            current_date -= relativedelta(months=1)

        return table_months

    def get_category(self, description):

        pattern_cine = constants.CINE
        pattern_debt_payments = constants.DEBT_PAYMENTS
        pattern_education = constants.EDUCATION
        pattern_healthcare = constants.HEALTHCARE
        pattern_travel_hotel = constants.TRAVEL_HOTEL
        pattern_income_work = constants.WORK_INCOME
        pattern_income_house = constants.INCOME_HOUSE
        pattern_insurance = constants.INSURANCE
        pattern_lullaby = constants.LULLABY
        pattern_pharmacy = constants.PHARMACY
        pattern_restaurant_bar = constants.RESTAURANT_BAR
        pattern_supermarket_retails = constants.SUPERMARKET_RETAILS
        pattern_sports = constants.SPORT
        pattern_suscription = constants.SUSCRIPTIONS
        pattern_sii = constants.SII
        pattern_utilities = constants.UTILITIES
        pattern_transfers = constants.WIRE_TRANSFERS
        pattern_transport = constants.TRANSPORT

        if pattern_cine.search(description):
            return 'Cine & Casino'
        elif pattern_debt_payments.search(description):
            return 'Pago de Deudas'
        elif pattern_education.search(description):
            return 'Educación'
        elif pattern_healthcare.search(description):
            return 'Salud'
        elif pattern_travel_hotel.search(description):
            return 'Viajes & Hotel'
        elif pattern_income_work.search(description):
            return 'Ingreso'
        elif pattern_income_house.search(description):
            return 'Ingreso'
        elif pattern_insurance.search(description):
            return 'Seguros'
        elif pattern_lullaby.search(description):
            return 'Aseo & Limpieza'
        elif pattern_pharmacy.search(description):
            return 'Farmacias'
        elif pattern_restaurant_bar.search(description):
            return 'Restaurant & Bar'
        elif pattern_supermarket_retails.search(description):
            return 'Supermercados & Retails'
        elif pattern_sports.search(description):
            return 'Deportes'
        elif pattern_suscription.search(description):
            return 'Suscripciones'
        elif pattern_sii.search(description):
            return 'SII'
        elif pattern_transfers.search(description):
            return 'Transferencias'
        elif pattern_transport.search(description):
            return 'Transporte'                
        elif pattern_utilities.search(description):
            return 'Cuentas & Servicios'
        else:
            return 'Otros'                
        
    def get_movements(self):
        table_mov = []
        table_account = self.get_accounts()
        table_last_12_months = self.months_table_iso()
        df = pd.DataFrame()
        for month in table_last_12_months:
            since_date = month['date_start']
            until_date = month['date_end']
            for i in range(len(table_account)):
                account_number = table_account[i]['id_account']
                account_name = table_account[i]['name']
                type_account = table_account[i]['type_account']
                url = "https://api.fintoc.com/v1/accounts/{}/movements?link_token={}&since={}&until={}&per_page=300".format(account_number, self.link_token, since_date, until_date)
                headers = {
                "accept": "application/json",
                "Authorization": self.security_token}
                response = requests.get(url, headers=headers)
                json_mov = json.loads(response.text)
                for i in range(len(json_mov)):
                    id_mov = json_mov[i]['id']
                    amount = json_mov[i]['amount']
                    currency = json_mov[i]['currency']
                    description = json_mov[i]['description']
                    post_date = str(json_mov[i]['post_date'])[:10]
                    post_date = datetime.strptime(post_date, '%Y-%m-%d')
                    type_account_expenses = 'Egreso'
                    tupla = {'id_mov': id_mov, 'amount': amount, 'currency': currency, 'description': description, 'date': post_date, 'type_expenses': type_account_expenses, 'account_name': account_name, 'account_number': account_number}
                    table_mov.append(tupla)

        df = pd.DataFrame(table_mov, columns=['id_mov', 'amount', 'currency', 'description', 'date', 'type_expenses', 'account_name', 'account_number'])
        df = df.reset_index().drop(columns = ['index'])
        return df

In [120]:

link_token = 'link_q0zGrdizNpjELEJ3_token_MND7iWw-F2yaPXsyvDqG1DBR'
security_token = 'sk_live_zPX-m5Q5v6-X88pnVs4Z45R9X-y-w1jB'

d = ExtractFintoc(link_token, security_token)
df = d.get_movements()
df

DEBUG 2023-10-26 23:47:56,236 connectionpool Starting new HTTPS connection (1): api.fintoc.com:443
DEBUG 2023-10-26 23:47:56,999 connectionpool https://api.fintoc.com:443 "GET /v1/accounts/?link_token=link_q0zGrdizNpjELEJ3_token_MND7iWw-F2yaPXsyvDqG1DBR HTTP/1.1" 200 None
DEBUG 2023-10-26 23:47:57,016 connectionpool Starting new HTTPS connection (1): api.fintoc.com:443
DEBUG 2023-10-26 23:47:57,815 connectionpool https://api.fintoc.com:443 "GET /v1/accounts/acc_zMJnK51TV87AK7AB/movements?link_token=link_q0zGrdizNpjELEJ3_token_MND7iWw-F2yaPXsyvDqG1DBR&since=2023-10-01T00:00:00Z&until=2023-10-31T23:59:59Z&per_page=300 HTTP/1.1" 200 None
DEBUG 2023-10-26 23:47:57,819 connectionpool Starting new HTTPS connection (1): api.fintoc.com:443
DEBUG 2023-10-26 23:47:58,479 connectionpool https://api.fintoc.com:443 "GET /v1/accounts/acc_PJEwlMrTReNY29qz/movements?link_token=link_q0zGrdizNpjELEJ3_token_MND7iWw-F2yaPXsyvDqG1DBR&since=2023-10-01T00:00:00Z&until=2023-10-31T23:59:59Z&per_page=300 HTTP/1.1" 200 2
DEBUG 2023-10-26 23:47:58,484 connectionpool Starting new HTTPS connection (1): api.fintoc.com:443
DEBUG 2023-10-26 23:47:59,189 connectionpool https://api.fintoc.com:443 "GET /v1/accounts/acc_yrpoWwT33nN5oYB4/movements?link_token=link_q0zGrdizNpjELEJ3_token_MND7iWw-F2yaPXsyvDqG1DBR&since=2023-10-01T00:00:00Z&until=2023-10-31T23:59:59Z&per_page=300 HTTP/1.1" 200 None
DEBUG 2023-10-26 23:47:59,194 connectionpool Starting new HTTPS connection (1): api.fintoc.com:443
DEBUG 2023-10-26 23:47:59,838 connectionpool https://api.fintoc.com:443 "GET /v1/accounts/acc_Pm4e2aBTY46doydr/movements?link_token=link_q0zGrdizNpjELEJ3_token_MND7iWw-F2yaPXsyvDqG1DBR&since=2023-10-01T00:00:00Z&until=2023-10-31T23:59:59Z&per_page=300 HTTP/1.1" 200 2
DEBUG 2023-10-26 23:47:59,843 connectionpool Starting new HTTPS connection (1): api.fintoc.com:443
DEBUG 2023-10-26 23:48:00,546 connectionpool https://api.fintoc.com:443 "GET /v1/accounts/acc_1emKgXTbbjeblvRN/movements?link_token=link_q0zGrdizNpjELEJ3_token_MND7iWw-F2yaPXsyvDqG1DBR&since=2023-10-01T00:00:00Z&until=2023-10-31T23:59:59Z&per_page=300 HTTP/1.1" 200 None
DEBUG 2023-10-26 23:48:00,552 connectionpool Starting new HTTPS connection (1): api.fintoc.com:443
DEBUG 2023-10-26 23:48:01,234 connectionpool https://api.fintoc.com:443 "GET /v1/accounts/acc_5G9jo9MTQx56oOP8/movements?link_token=link_q0zGrdizNpjELEJ3_token_MND7iWw-F2yaPXsyvDqG1DBR&since=2023-10-01T00:00:00Z&until=2023-10-31T23:59:59Z&per_page=300 HTTP/1.1" 200 2
DEBUG 2023-10-26 23:48:01,250 connectionpool Starting new HTTPS connection (1): api.fintoc.com:443
DEBUG 2023-10-26 23:48:02,789 connectionpool https://api.fintoc.com:443 "GET /v1/accounts/acc_zMJnK51TV87AK7AB/movements?link_token=link_q0zGrdizNpjELEJ3_token_MND7iWw-F2yaPXsyvDqG1DBR&since=2023-09-01T00:00:00Z&until=2023-09-30T23:59:59Z&per_page=300 HTTP/1.1" 200 None
DEBUG 2023-10-26 23:48:02,797 connectionpool Starting new HTTPS connection (1): api.fintoc.com:443
DEBUG 2023-10-26 23:48:03,609 connectionpool https://api.fintoc.com:443 "GET /v1/accounts/acc_PJEwlMrTReNY29qz/movements?link_token=link_q0zGrdizNpjELEJ3_token_MND7iWw-F2yaPXsyvDqG1DBR&since=2023-09-01T00:00:00Z&until=2023-09-30T23:59:59Z&per_page=300 HTTP/1.1" 200 2
DEBUG 2023-10-26 23:48:03,614 connectionpool Starting new HTTPS connection (1): api.fintoc.com:443
DEBUG 2023-10-26 23:48:04,589 connectionpool https://api.fintoc.com:443 "GET /v1/accounts/acc_yrpoWwT33nN5oYB4/movements?link_token=link_q0zGrdizNpjELEJ3_token_MND7iWw-F2yaPXsyvDqG1DBR&since=2023-09-01T00:00:00Z&until=2023-09-30T23:59:59Z&per_page=300 HTTP/1.1" 200 None
DEBUG 2023-10-26 23:48:04,594 connectionpool Starting new HTTPS connection (1): api.fintoc.com:443
DEBUG 2023-10-26 23:48:05,255 connectionpool https://api.fintoc.com:443 "GET /v1/accounts/acc_Pm4e2aBTY46doydr/movements?link_token=link_q0zGrdizNpjELEJ3_token_MND7iWw-F2yaPXsyvDqG1DBR&since=2023-09-01T00:00:00Z&until=2023-09-30T23:59:59Z&per_page=300 HTTP/1.1" 200 2
DEBUG 2023-10-26 23:48:05,260 connectionpool Starting new HTTPS connection (1): api.fintoc.com:443
DEBUG 2023-10-26 23:48:05,943 connectionpool https://api.fintoc.com:443 "GET /v1/accounts/acc_1emKgXTbbjeblvRN/movements?link_token=link_q0zGrdizNpjELEJ3_token_MND7iWw-F2yaPXsyvDqG1DBR&since=2023-09-01T00:00:00Z&until=2023-09-30T23:59:59Z&per_page=300 HTTP/1.1" 200 None
DEBUG 2023-10-26 23:48:05,951 connectionpool Starting new HTTPS connection (1): api.fintoc.com:443
DEBUG 2023-10-26 23:48:06,608 connectionpool https://api.fintoc.com:443 "GET /v1/accounts/acc_5G9jo9MTQx56oOP8/movements?link_token=link_q0zGrdizNpjELEJ3_token_MND7iWw-F2yaPXsyvDqG1DBR&since=2023-09-01T00:00:00Z&until=2023-09-30T23:59:59Z&per_page=300 HTTP/1.1" 200 2
DEBUG 2023-10-26 23:48:06,614 connectionpool Starting new HTTPS connection (1): api.fintoc.com:443
DEBUG 2023-10-26 23:48:07,794 connectionpool https://api.fintoc.com:443 "GET /v1/accounts/acc_zMJnK51TV87AK7AB/movements?link_token=link_q0zGrdizNpjELEJ3_token_MND7iWw-F2yaPXsyvDqG1DBR&since=2023-08-01T00:00:00Z&until=2023-08-31T23:59:59Z&per_page=300 HTTP/1.1" 200 None
DEBUG 2023-10-26 23:48:07,805 connectionpool Starting new HTTPS connection (1): api.fintoc.com:443
DEBUG 2023-10-26 23:48:08,516 connectionpool https://api.fintoc.com:443 "GET /v1/accounts/acc_PJEwlMrTReNY29qz/movements?link_token=link_q0zGrdizNpjELEJ3_token_MND7iWw-F2yaPXsyvDqG1DBR&since=2023-08-01T00:00:00Z&until=2023-08-31T23:59:59Z&per_page=300 HTTP/1.1" 200 2
DEBUG 2023-10-26 23:48:08,522 connectionpool Starting new HTTPS connection (1): api.fintoc.com:443
DEBUG 2023-10-26 23:48:09,223 connectionpool https://api.fintoc.com:443 "GET /v1/accounts/acc_yrpoWwT33nN5oYB4/movements?link_token=link_q0zGrdizNpjELEJ3_token_MND7iWw-F2yaPXsyvDqG1DBR&since=2023-08-01T00:00:00Z&until=2023-08-31T23:59:59Z&per_page=300 HTTP/1.1" 200 None
DEBUG 2023-10-26 23:48:09,229 connectionpool Starting new HTTPS connection (1): api.fintoc.com:443
DEBUG 2023-10-26 23:48:09,890 connectionpool https://api.fintoc.com:443 "GET /v1/accounts/acc_Pm4e2aBTY46doydr/movements?link_token=link_q0zGrdizNpjELEJ3_token_MND7iWw-F2yaPXsyvDqG1DBR&since=2023-08-01T00:00:00Z&until=2023-08-31T23:59:59Z&per_page=300 HTTP/1.1" 200 2
DEBUG 2023-10-26 23:48:09,904 connectionpool Starting new HTTPS connection (1): api.fintoc.com:443
DEBUG 2023-10-26 23:48:10,745 connectionpool https://api.fintoc.com:443 "GET /v1/accounts/acc_1emKgXTbbjeblvRN/movements?link_token=link_q0zGrdizNpjELEJ3_token_MND7iWw-F2yaPXsyvDqG1DBR&since=2023-08-01T00:00:00Z&until=2023-08-31T23:59:59Z&per_page=300 HTTP/1.1" 200 None
DEBUG 2023-10-26 23:48:10,750 connectionpool Starting new HTTPS connection (1): api.fintoc.com:443
DEBUG 2023-10-26 23:48:11,397 connectionpool https://api.fintoc.com:443 "GET /v1/accounts/acc_5G9jo9MTQx56oOP8/movements?link_token=link_q0zGrdizNpjELEJ3_token_MND7iWw-F2yaPXsyvDqG1DBR&since=2023-08-01T00:00:00Z&until=2023-08-31T23:59:59Z&per_page=300 HTTP/1.1" 200 2
DEBUG 2023-10-26 23:48:11,402 connectionpool Starting new HTTPS connection (1): api.fintoc.com:443
DEBUG 2023-10-26 23:48:12,166 connectionpool https://api.fintoc.com:443 "GET /v1/accounts/acc_zMJnK51TV87AK7AB/movements?link_token=link_q0zGrdizNpjELEJ3_token_MND7iWw-F2yaPXsyvDqG1DBR&since=2023-07-01T00:00:00Z&until=2023-07-31T23:59:59Z&per_page=300 HTTP/1.1" 200 None
DEBUG 2023-10-26 23:48:12,172 connectionpool Starting new HTTPS connection (1): api.fintoc.com:443
DEBUG 2023-10-26 23:48:12,814 connectionpool https://api.fintoc.com:443 "GET /v1/accounts/acc_PJEwlMrTReNY29qz/movements?link_token=link_q0zGrdizNpjELEJ3_token_MND7iWw-F2yaPXsyvDqG1DBR&since=2023-07-01T00:00:00Z&until=2023-07-31T23:59:59Z&per_page=300 HTTP/1.1" 200 2
DEBUG 2023-10-26 23:48:12,819 connectionpool Starting new HTTPS connection (1): api.fintoc.com:443
DEBUG 2023-10-26 23:48:13,559 connectionpool https://api.fintoc.com:443 "GET /v1/accounts/acc_yrpoWwT33nN5oYB4/movements?link_token=link_q0zGrdizNpjELEJ3_token_MND7iWw-F2yaPXsyvDqG1DBR&since=2023-07-01T00:00:00Z&until=2023-07-31T23:59:59Z&per_page=300 HTTP/1.1" 200 None
DEBUG 2023-10-26 23:48:13,564 connectionpool Starting new HTTPS connection (1): api.fintoc.com:443
DEBUG 2023-10-26 23:48:14,218 connectionpool https://api.fintoc.com:443 "GET /v1/accounts/acc_Pm4e2aBTY46doydr/movements?link_token=link_q0zGrdizNpjELEJ3_token_MND7iWw-F2yaPXsyvDqG1DBR&since=2023-07-01T00:00:00Z&until=2023-07-31T23:59:59Z&per_page=300 HTTP/1.1" 200 None
DEBUG 2023-10-26 23:48:14,235 connectionpool Starting new HTTPS connection (1): api.fintoc.com:443
DEBUG 2023-10-26 23:48:14,911 connectionpool https://api.fintoc.com:443 "GET /v1/accounts/acc_1emKgXTbbjeblvRN/movements?link_token=link_q0zGrdizNpjELEJ3_token_MND7iWw-F2yaPXsyvDqG1DBR&since=2023-07-01T00:00:00Z&until=2023-07-31T23:59:59Z&per_page=300 HTTP/1.1" 200 None
DEBUG 2023-10-26 23:48:14,921 connectionpool Starting new HTTPS connection (1): api.fintoc.com:443
DEBUG 2023-10-26 23:48:15,562 connectionpool https://api.fintoc.com:443 "GET /v1/accounts/acc_5G9jo9MTQx56oOP8/movements?link_token=link_q0zGrdizNpjELEJ3_token_MND7iWw-F2yaPXsyvDqG1DBR&since=2023-07-01T00:00:00Z&until=2023-07-31T23:59:59Z&per_page=300 HTTP/1.1" 200 2
DEBUG 2023-10-26 23:48:15,567 connectionpool Starting new HTTPS connection (1): api.fintoc.com:443
DEBUG 2023-10-26 23:48:16,732 connectionpool https://api.fintoc.com:443 "GET /v1/accounts/acc_zMJnK51TV87AK7AB/movements?link_token=link_q0zGrdizNpjELEJ3_token_MND7iWw-F2yaPXsyvDqG1DBR&since=2023-06-01T00:00:00Z&until=2023-06-30T23:59:59Z&per_page=300 HTTP/1.1" 200 None
DEBUG 2023-10-26 23:48:16,739 connectionpool Starting new HTTPS connection (1): api.fintoc.com:443
DEBUG 2023-10-26 23:48:17,427 connectionpool https://api.fintoc.com:443 "GET /v1/accounts/acc_PJEwlMrTReNY29qz/movements?link_token=link_q0zGrdizNpjELEJ3_token_MND7iWw-F2yaPXsyvDqG1DBR&since=2023-06-01T00:00:00Z&until=2023-06-30T23:59:59Z&per_page=300 HTTP/1.1" 200 2
DEBUG 2023-10-26 23:48:17,432 connectionpool Starting new HTTPS connection (1): api.fintoc.com:443
DEBUG 2023-10-26 23:48:18,161 connectionpool https://api.fintoc.com:443 "GET /v1/accounts/acc_yrpoWwT33nN5oYB4/movements?link_token=link_q0zGrdizNpjELEJ3_token_MND7iWw-F2yaPXsyvDqG1DBR&since=2023-06-01T00:00:00Z&until=2023-06-30T23:59:59Z&per_page=300 HTTP/1.1" 200 None
DEBUG 2023-10-26 23:48:18,166 connectionpool Starting new HTTPS connection (1): api.fintoc.com:443
DEBUG 2023-10-26 23:48:18,911 connectionpool https://api.fintoc.com:443 "GET /v1/accounts/acc_Pm4e2aBTY46doydr/movements?link_token=link_q0zGrdizNpjELEJ3_token_MND7iWw-F2yaPXsyvDqG1DBR&since=2023-06-01T00:00:00Z&until=2023-06-30T23:59:59Z&per_page=300 HTTP/1.1" 200 2
DEBUG 2023-10-26 23:48:18,927 connectionpool Starting new HTTPS connection (1): api.fintoc.com:443
DEBUG 2023-10-26 23:48:19,747 connectionpool https://api.fintoc.com:443 "GET /v1/accounts/acc_1emKgXTbbjeblvRN/movements?link_token=link_q0zGrdizNpjELEJ3_token_MND7iWw-F2yaPXsyvDqG1DBR&since=2023-06-01T00:00:00Z&until=2023-06-30T23:59:59Z&per_page=300 HTTP/1.1" 200 None
DEBUG 2023-10-26 23:48:19,753 connectionpool Starting new HTTPS connection (1): api.fintoc.com:443
DEBUG 2023-10-26 23:48:20,468 connectionpool https://api.fintoc.com:443 "GET /v1/accounts/acc_5G9jo9MTQx56oOP8/movements?link_token=link_q0zGrdizNpjELEJ3_token_MND7iWw-F2yaPXsyvDqG1DBR&since=2023-06-01T00:00:00Z&until=2023-06-30T23:59:59Z&per_page=300 HTTP/1.1" 200 2
DEBUG 2023-10-26 23:48:20,473 connectionpool Starting new HTTPS connection (1): api.fintoc.com:443
DEBUG 2023-10-26 23:48:21,852 connectionpool https://api.fintoc.com:443 "GET /v1/accounts/acc_zMJnK51TV87AK7AB/movements?link_token=link_q0zGrdizNpjELEJ3_token_MND7iWw-F2yaPXsyvDqG1DBR&since=2023-05-01T00:00:00Z&until=2023-05-31T23:59:59Z&per_page=300 HTTP/1.1" 200 None
DEBUG 2023-10-26 23:48:21,878 connectionpool Starting new HTTPS connection (1): api.fintoc.com:443
DEBUG 2023-10-26 23:48:23,301 connectionpool https://api.fintoc.com:443 "GET /v1/accounts/acc_PJEwlMrTReNY29qz/movements?link_token=link_q0zGrdizNpjELEJ3_token_MND7iWw-F2yaPXsyvDqG1DBR&since=2023-05-01T00:00:00Z&until=2023-05-31T23:59:59Z&per_page=300 HTTP/1.1" 200 2
DEBUG 2023-10-26 23:48:23,307 connectionpool Starting new HTTPS connection (1): api.fintoc.com:443
DEBUG 2023-10-26 23:48:24,067 connectionpool https://api.fintoc.com:443 "GET /v1/accounts/acc_yrpoWwT33nN5oYB4/movements?link_token=link_q0zGrdizNpjELEJ3_token_MND7iWw-F2yaPXsyvDqG1DBR&since=2023-05-01T00:00:00Z&until=2023-05-31T23:59:59Z&per_page=300 HTTP/1.1" 200 None
DEBUG 2023-10-26 23:48:24,072 connectionpool Starting new HTTPS connection (1): api.fintoc.com:443
DEBUG 2023-10-26 23:48:24,714 connectionpool https://api.fintoc.com:443 "GET /v1/accounts/acc_Pm4e2aBTY46doydr/movements?link_token=link_q0zGrdizNpjELEJ3_token_MND7iWw-F2yaPXsyvDqG1DBR&since=2023-05-01T00:00:00Z&until=2023-05-31T23:59:59Z&per_page=300 HTTP/1.1" 200 None
DEBUG 2023-10-26 23:48:24,719 connectionpool Starting new HTTPS connection (1): api.fintoc.com:443
DEBUG 2023-10-26 23:48:25,395 connectionpool https://api.fintoc.com:443 "GET /v1/accounts/acc_1emKgXTbbjeblvRN/movements?link_token=link_q0zGrdizNpjELEJ3_token_MND7iWw-F2yaPXsyvDqG1DBR&since=2023-05-01T00:00:00Z&until=2023-05-31T23:59:59Z&per_page=300 HTTP/1.1" 200 None
DEBUG 2023-10-26 23:48:25,400 connectionpool Starting new HTTPS connection (1): api.fintoc.com:443
DEBUG 2023-10-26 23:48:26,584 connectionpool https://api.fintoc.com:443 "GET /v1/accounts/acc_5G9jo9MTQx56oOP8/movements?link_token=link_q0zGrdizNpjELEJ3_token_MND7iWw-F2yaPXsyvDqG1DBR&since=2023-05-01T00:00:00Z&until=2023-05-31T23:59:59Z&per_page=300 HTTP/1.1" 200 2
DEBUG 2023-10-26 23:48:26,601 connectionpool Starting new HTTPS connection (1): api.fintoc.com:443
DEBUG 2023-10-26 23:48:27,338 connectionpool https://api.fintoc.com:443 "GET /v1/accounts/acc_zMJnK51TV87AK7AB/movements?link_token=link_q0zGrdizNpjELEJ3_token_MND7iWw-F2yaPXsyvDqG1DBR&since=2023-04-01T00:00:00Z&until=2023-04-30T23:59:59Z&per_page=300 HTTP/1.1" 200 None
DEBUG 2023-10-26 23:48:27,352 connectionpool Starting new HTTPS connection (1): api.fintoc.com:443
DEBUG 2023-10-26 23:48:28,031 connectionpool https://api.fintoc.com:443 "GET /v1/accounts/acc_PJEwlMrTReNY29qz/movements?link_token=link_q0zGrdizNpjELEJ3_token_MND7iWw-F2yaPXsyvDqG1DBR&since=2023-04-01T00:00:00Z&until=2023-04-30T23:59:59Z&per_page=300 HTTP/1.1" 200 2
DEBUG 2023-10-26 23:48:28,037 connectionpool Starting new HTTPS connection (1): api.fintoc.com:443
DEBUG 2023-10-26 23:48:28,721 connectionpool https://api.fintoc.com:443 "GET /v1/accounts/acc_yrpoWwT33nN5oYB4/movements?link_token=link_q0zGrdizNpjELEJ3_token_MND7iWw-F2yaPXsyvDqG1DBR&since=2023-04-01T00:00:00Z&until=2023-04-30T23:59:59Z&per_page=300 HTTP/1.1" 200 None
DEBUG 2023-10-26 23:48:28,726 connectionpool Starting new HTTPS connection (1): api.fintoc.com:443
DEBUG 2023-10-26 23:48:29,374 connectionpool https://api.fintoc.com:443 "GET /v1/accounts/acc_Pm4e2aBTY46doydr/movements?link_token=link_q0zGrdizNpjELEJ3_token_MND7iWw-F2yaPXsyvDqG1DBR&since=2023-04-01T00:00:00Z&until=2023-04-30T23:59:59Z&per_page=300 HTTP/1.1" 200 2
DEBUG 2023-10-26 23:48:29,380 connectionpool Starting new HTTPS connection (1): api.fintoc.com:443
DEBUG 2023-10-26 23:48:30,072 connectionpool https://api.fintoc.com:443 "GET /v1/accounts/acc_1emKgXTbbjeblvRN/movements?link_token=link_q0zGrdizNpjELEJ3_token_MND7iWw-F2yaPXsyvDqG1DBR&since=2023-04-01T00:00:00Z&until=2023-04-30T23:59:59Z&per_page=300 HTTP/1.1" 200 None
DEBUG 2023-10-26 23:48:30,077 connectionpool Starting new HTTPS connection (1): api.fintoc.com:443
DEBUG 2023-10-26 23:48:30,752 connectionpool https://api.fintoc.com:443 "GET /v1/accounts/acc_5G9jo9MTQx56oOP8/movements?link_token=link_q0zGrdizNpjELEJ3_token_MND7iWw-F2yaPXsyvDqG1DBR&since=2023-04-01T00:00:00Z&until=2023-04-30T23:59:59Z&per_page=300 HTTP/1.1" 200 2
DEBUG 2023-10-26 23:48:30,757 connectionpool Starting new HTTPS connection (1): api.fintoc.com:443
DEBUG 2023-10-26 23:48:31,757 connectionpool https://api.fintoc.com:443 "GET /v1/accounts/acc_zMJnK51TV87AK7AB/movements?link_token=link_q0zGrdizNpjELEJ3_token_MND7iWw-F2yaPXsyvDqG1DBR&since=2023-03-01T00:00:00Z&until=2023-03-31T23:59:59Z&per_page=300 HTTP/1.1" 200 None
DEBUG 2023-10-26 23:48:31,769 connectionpool Starting new HTTPS connection (1): api.fintoc.com:443
DEBUG 2023-10-26 23:48:32,469 connectionpool https://api.fintoc.com:443 "GET /v1/accounts/acc_PJEwlMrTReNY29qz/movements?link_token=link_q0zGrdizNpjELEJ3_token_MND7iWw-F2yaPXsyvDqG1DBR&since=2023-03-01T00:00:00Z&until=2023-03-31T23:59:59Z&per_page=300 HTTP/1.1" 200 2
DEBUG 2023-10-26 23:48:32,474 connectionpool Starting new HTTPS connection (1): api.fintoc.com:443
DEBUG 2023-10-26 23:48:33,376 connectionpool https://api.fintoc.com:443 "GET /v1/accounts/acc_yrpoWwT33nN5oYB4/movements?link_token=link_q0zGrdizNpjELEJ3_token_MND7iWw-F2yaPXsyvDqG1DBR&since=2023-03-01T00:00:00Z&until=2023-03-31T23:59:59Z&per_page=300 HTTP/1.1" 200 None
DEBUG 2023-10-26 23:48:33,382 connectionpool Starting new HTTPS connection (1): api.fintoc.com:443
DEBUG 2023-10-26 23:48:34,110 connectionpool https://api.fintoc.com:443 "GET /v1/accounts/acc_Pm4e2aBTY46doydr/movements?link_token=link_q0zGrdizNpjELEJ3_token_MND7iWw-F2yaPXsyvDqG1DBR&since=2023-03-01T00:00:00Z&until=2023-03-31T23:59:59Z&per_page=300 HTTP/1.1" 200 2
DEBUG 2023-10-26 23:48:34,116 connectionpool Starting new HTTPS connection (1): api.fintoc.com:443
DEBUG 2023-10-26 23:48:34,806 connectionpool https://api.fintoc.com:443 "GET /v1/accounts/acc_1emKgXTbbjeblvRN/movements?link_token=link_q0zGrdizNpjELEJ3_token_MND7iWw-F2yaPXsyvDqG1DBR&since=2023-03-01T00:00:00Z&until=2023-03-31T23:59:59Z&per_page=300 HTTP/1.1" 200 None
DEBUG 2023-10-26 23:48:34,813 connectionpool Starting new HTTPS connection (1): api.fintoc.com:443
DEBUG 2023-10-26 23:48:35,455 connectionpool https://api.fintoc.com:443 "GET /v1/accounts/acc_5G9jo9MTQx56oOP8/movements?link_token=link_q0zGrdizNpjELEJ3_token_MND7iWw-F2yaPXsyvDqG1DBR&since=2023-03-01T00:00:00Z&until=2023-03-31T23:59:59Z&per_page=300 HTTP/1.1" 200 2
DEBUG 2023-10-26 23:48:35,470 connectionpool Starting new HTTPS connection (1): api.fintoc.com:443
DEBUG 2023-10-26 23:48:37,300 connectionpool https://api.fintoc.com:443 "GET /v1/accounts/acc_zMJnK51TV87AK7AB/movements?link_token=link_q0zGrdizNpjELEJ3_token_MND7iWw-F2yaPXsyvDqG1DBR&since=2023-02-01T00:00:00Z&until=2023-02-28T23:59:59Z&per_page=300 HTTP/1.1" 200 None
DEBUG 2023-10-26 23:48:37,399 connectionpool Starting new HTTPS connection (1): api.fintoc.com:443
DEBUG 2023-10-26 23:48:38,074 connectionpool https://api.fintoc.com:443 "GET /v1/accounts/acc_PJEwlMrTReNY29qz/movements?link_token=link_q0zGrdizNpjELEJ3_token_MND7iWw-F2yaPXsyvDqG1DBR&since=2023-02-01T00:00:00Z&until=2023-02-28T23:59:59Z&per_page=300 HTTP/1.1" 200 2
DEBUG 2023-10-26 23:48:38,079 connectionpool Starting new HTTPS connection (1): api.fintoc.com:443
DEBUG 2023-10-26 23:48:38,747 connectionpool https://api.fintoc.com:443 "GET /v1/accounts/acc_yrpoWwT33nN5oYB4/movements?link_token=link_q0zGrdizNpjELEJ3_token_MND7iWw-F2yaPXsyvDqG1DBR&since=2023-02-01T00:00:00Z&until=2023-02-28T23:59:59Z&per_page=300 HTTP/1.1" 200 None
DEBUG 2023-10-26 23:48:38,752 connectionpool Starting new HTTPS connection (1): api.fintoc.com:443
DEBUG 2023-10-26 23:48:39,416 connectionpool https://api.fintoc.com:443 "GET /v1/accounts/acc_Pm4e2aBTY46doydr/movements?link_token=link_q0zGrdizNpjELEJ3_token_MND7iWw-F2yaPXsyvDqG1DBR&since=2023-02-01T00:00:00Z&until=2023-02-28T23:59:59Z&per_page=300 HTTP/1.1" 200 2
DEBUG 2023-10-26 23:48:39,421 connectionpool Starting new HTTPS connection (1): api.fintoc.com:443
DEBUG 2023-10-26 23:48:40,116 connectionpool https://api.fintoc.com:443 "GET /v1/accounts/acc_1emKgXTbbjeblvRN/movements?link_token=link_q0zGrdizNpjELEJ3_token_MND7iWw-F2yaPXsyvDqG1DBR&since=2023-02-01T00:00:00Z&until=2023-02-28T23:59:59Z&per_page=300 HTTP/1.1" 200 None
DEBUG 2023-10-26 23:48:40,132 connectionpool Starting new HTTPS connection (1): api.fintoc.com:443

,id_mov,amount,currency,description,date,type_expenses,account_name,account_number
0,mov_ok9NmKHxp9oMeGA3,-5000,CLP,Traspaso A:Yesicca Villalobos,2023-10-23,Egreso,Cuenta Corriente,acc_zMJnK51TV87AK7AB
1,mov_pm48wdHb4KgjewGv,5000,CLP,Transferencia Desde Linea De Credito,2023-10-23,Egreso,Cuenta Corriente,acc_zMJnK51TV87AK7AB
2,mov_4Ag8xaHQ245bea2b,-2000,CLP,Pago:merpago*carbones,2023-10-23,Egreso,Cuenta Corriente,acc_zMJnK51TV87AK7AB
3,mov_rA7N4lHnVzBjNVzj,-16800,CLP,Pago:merpago*carbones,2023-10-23,Egreso,Cuenta Corriente,acc_zMJnK51TV87AK7AB
4,mov_MwB8v3H2EwBveVdz,-7990,CLP,Pago:merpago*comercial,2023-10-23,Egreso,Cuenta Corriente,acc_zMJnK51TV87AK7AB
...,...,...,...,...,...,...,...,...
946,mov_Md9Y5PHDKv6WeQLg,-186664,CLP,"ROSEN TASA INT. 0,00%",2022-11-05,Egreso,Tarjeta de Crédito,acc_yrpoWwT33nN5oYB4
947,mov_grK8G4HvWbDje51o,156780,CLP,Pago Pesos TEF,2022-11-03,Egreso,Tarjeta de Crédito,acc_yrpoWwT33nN5oYB4
948,mov_j4yeaPHvZVz08XOP,-4941,CLP,BEAT TCOMP SANTIAGO,2022-11-02,Egreso,Tarjeta de Crédito,acc_yrpoWwT33nN5oYB4
949,mov_ZxENnDHBbKyoeJkK,1119,USD,TRASPASO DEUDA INTERNAC,2022-11-14,Egreso,Tarjeta de Crédito,acc_1emKgXTbbjeblvRN
950,mov_j4yeaPHvZV5o8XOP,-1197,USD,NETFLIX.COM,2022-11-14,Egreso,Tarjeta de Crédito,acc_1emKgXTbbjeblvRN

In [136]:
df['description']
df.loc[df['description'] == 'Traspaso A:Marco Kremerman']

,id_mov,amount,currency,description,date,type_expenses,account_name,account_number
76,mov_EJ58lyHVWk9jeRvG,-435000,CLP,Traspaso A:Marco Kremerman,2023-09-29 00:00:00,Egreso,Cuenta Corriente,acc_zMJnK51TV87AK7AB
155,mov_EG3Y1gHW7lZ280W1,-435000,CLP,Traspaso A:Marco Kremerman,2023-08-31 00:00:00,Egreso,Cuenta Corriente,acc_zMJnK51TV87AK7AB
254,mov_ok9NmKHr1pKjeGA3,-435000,CLP,Traspaso A:Marco Kremerman,2023-07-28 00:00:00,Egreso,Cuenta Corriente,acc_zMJnK51TV87AK7AB
324,mov_grK8G4HvWbLpe51o,-435000,CLP,Traspaso A:Marco Kremerman,2023-06-30 00:00:00,Egreso,Cuenta Corriente,acc_zMJnK51TV87AK7AB
355,mov_Xxa86kHB92RxeMG9,-435000,CLP,Traspaso A:Marco Kremerman,2023-06-02 00:00:00,Egreso,Cuenta Corriente,acc_zMJnK51TV87AK7AB
457,mov_grK8G4HvWbr1e51o,-435000,CLP,Traspaso A:Marco Kremerman,2023-05-02 00:00:00,Egreso,Cuenta Corriente,acc_zMJnK51TV87AK7AB
520,mov_D5XekJH5dKLW8wjE,-435000,CLP,Traspaso A:Marco Kremerman,2023-04-03 00:00:00,Egreso,Cuenta Corriente,acc_zMJnK51TV87AK7AB
614,mov_J32YMdH7Wj37e4zP,-435000,CLP,Traspaso A:Marco Kremerman,2023-03-01 00:00:00,Egreso,Cuenta Corriente,acc_zMJnK51TV87AK7AB
711,mov_J32YMdH7WjJne4zP,-435000,CLP,Traspaso A:Marco Kremerman,2023-02-01 00:00:00,Egreso,Cuenta Corriente,acc_zMJnK51TV87AK7AB
739,mov_zyX8PXHg4opq867b,-50000,CLP,Traspaso A:Marco Kremerman,2023-01-24 00:00:00,Egreso,Cuenta Corriente,acc_zMJnK51TV87AK7AB
742,mov_anmNdbHXZWy4ezw4,-350000,CLP,Traspaso A:Marco Kremerman,2023-01-23 00:00:00,Egreso,Cuenta Corriente,acc_zMJnK51TV87AK7AB

In [130]:
df['date'] = df['date'].apply(lambda x : str(x))
targeta = df.loc[df['date'] >= '2023-10-01']
targeta = targeta.loc[targeta['date'] <= '2023-10-30']
targeta = targeta.loc[targeta['amount'] > 0]
targeta.head(50)

,id_mov,amount,currency,description,date,type_expenses,account_name,account_number
1,mov_pm48wdHb4KgjewGv,5000,CLP,Transferencia Desde Linea De Credito,2023-10-23 00:00:00,Egreso,Cuenta Corriente,acc_zMJnK51TV87AK7AB
5,mov_EG3Y1gHAl02D80W1,3000,CLP,Traspaso De:Flavia Fernanda Olivares Ibarra,2023-10-23 00:00:00,Egreso,Cuenta Corriente,acc_zMJnK51TV87AK7AB
7,mov_53jYKGH0kOd7YQwd,27023,CLP,Transferencia Desde Linea De Credito,2023-10-23 00:00:00,Egreso,Cuenta Corriente,acc_zMJnK51TV87AK7AB
9,mov_pv5Yo1Hw092X8gqj,229900,CLP,Transferencia Desde Linea De Credito,2023-10-20 00:00:00,Egreso,Cuenta Corriente,acc_zMJnK51TV87AK7AB
11,mov_grK8G4H3bdjEe51o,5790,CLP,Transferencia Desde Linea De Credito,2023-10-18 00:00:00,Egreso,Cuenta Corriente,acc_zMJnK51TV87AK7AB
13,mov_anmNdbHAW1Rkezw4,62,CLP,Transferencia Desde Linea De Credito,2023-10-16 00:00:00,Egreso,Cuenta Corriente,acc_zMJnK51TV87AK7AB
15,mov_J32YMdH73RLOe4zP,29990,CLP,Devolucion:payu *zara.com,2023-10-10 00:00:00,Egreso,Cuenta Corriente,acc_zMJnK51TV87AK7AB
16,mov_anmNdbHXZWVZezw4,6150,CLP,Traspaso De:Flavia Fernanda Olivares Ibarra,2023-10-06 00:00:00,Egreso,Cuenta Corriente,acc_zMJnK51TV87AK7AB
17,mov_BqDe3AHEjzggNWEm,900000,CLP,Pago:de Sueldos 0775223308,2023-10-06 00:00:00,Egreso,Cuenta Corriente,acc_zMJnK51TV87AK7AB
21,mov_j4yeaPHvZVkp8XOP,12930,CLP,Transferencia Desde Linea De Credito,2023-10-05 00:00:00,Egreso,Cuenta Corriente,acc_zMJnK51TV87AK7AB
23,mov_XDKYjpHEpr6q8Eyq,1717,CLP,Transferencia Desde Linea De Credito,2023-10-03 00:00:00,Egreso,Cuenta Corriente,acc_zMJnK51TV87AK7AB
25,mov_JP0YXVHmDZAo8omy,21990,CLP,Transferencia Desde Linea De Credito,2023-10-03 00:00:00,Egreso,Cuenta Corriente,acc_zMJnK51TV87AK7AB
29,mov_z3kerxHvJ0EMNWgn,11488350,CLP,Abono Por Captaciones,2023-10-02 00:00:00,Egreso,Cuenta Corriente,acc_zMJnK51TV87AK7AB
45,mov_qV1Y0BH92zxp8m65,29990,CLP,Pago Pesos TEF,2023-10-11 00:00:00,Egreso,Tarjeta de Crédito,acc_yrpoWwT33nN5oYB4
67,mov_APl8W5HRXrkJY9gb,1205,USD,TRASPASO DEUDA INTERNAC,2023-10-10 00:00:00,Egreso,Tarjeta de Crédito,acc_1emKgXTbbjeblvRN

In [38]:
df = df.loc[df['account_name'] == 'Cuenta Corriente']

df = df[df['type_expenses'] == 'Egresos']
df_top_expenses = df[['amount','category_description']]
df_top_expenses = df_top_expenses.groupby(['category_description']).sum()['amount'].reset_index()
df_top_expenses['Percentaje'] = df_top_expenses['amount'].apply(lambda x: (x / df_top_expenses['amount'].sum()) * 100)
df_top_expenses = df_top_expenses.sort_values(by=['Percentaje'], ascending=False)
table_category_description = df_top_expenses['category_description'].iloc[:5].to_list()
   
df['month'] = df['date'].apply(lambda x: str(x)[:7])
df = df.loc[df['category_description'].isin(table_category_description)]
df_expense = df[['month','amount']]
df_expense = df_expense.groupby(['month']).sum()['amount'].reset_index()
pivot_df = pd.pivot_table(df, values='amount', index='category_description', columns='month', aggfunc='sum')
pivot_df.fillna(0, inplace=True)
pivot_df = pivot_df.T
pivot_df

Empty DataFrame
Columns: []
Index: []

In [97]:
df

,currency,description,amount,date,type_expenses,account_name,account_number,category_description
0,CLP,Traspaso A:Yesicca Villalobos,5000,2023-10-23,Egreso,Cuenta Corriente,acc_zMJnK51TV87AK7AB,Transferencias
2,CLP,Pago:merpago*carbones,2000,2023-10-23,Egreso,Cuenta Corriente,acc_zMJnK51TV87AK7AB,Otros
3,CLP,Pago:merpago*carbones,16800,2023-10-23,Egreso,Cuenta Corriente,acc_zMJnK51TV87AK7AB,Otros
4,CLP,Pago:merpago*comercial,7990,2023-10-23,Egreso,Cuenta Corriente,acc_zMJnK51TV87AK7AB,Otros
6,CLP,Pago:paramount+,3233,2023-10-23,Egreso,Cuenta Corriente,acc_zMJnK51TV87AK7AB,Otros
...,...,...,...,...,...,...,...,...
944,CLP,"ROSEN TASA INT. 0,00%",199998,2022-11-05,Egreso,Tarjeta de Crédito,acc_yrpoWwT33nN5oYB4,Supermercados & Retails
945,CLP,"ROSEN TASA INT. 0,00%",186665,2022-11-05,Egreso,Tarjeta de Crédito,acc_yrpoWwT33nN5oYB4,Supermercados & Retails
946,CLP,"ROSEN TASA INT. 0,00%",186664,2022-11-05,Egreso,Tarjeta de Crédito,acc_yrpoWwT33nN5oYB4,Supermercados & Retails
948,CLP,BEAT TCOMP SANTIAGO,4941,2022-11-02,Egreso,Tarjeta de Crédito,acc_yrpoWwT33nN5oYB4,Otros
950,USD,NETFLIX.COM,1197,2022-11-14,Egreso,Tarjeta de Crédito,acc_1emKgXTbbjeblvRN,Otros

In [118]:
#targeta = df.loc[df['account_name'] == 'Cuenta Corriente']
df['date'] = df['date'].apply(lambda x : str(x))
targeta = df.loc[df['date'] >= '2023-09-01']
targeta = targeta.loc[targeta['date'] <= '2023-09-30']
targeta = targeta.loc[targeta['type_expenses'] == 'Ingreso']
##targeta

targeta
#targeta = targeta.loc[targeta['type_expenses'] == 'Egreso']
#df = df.loc[df['description'] == 'Traspaso A:Marco Kremerman']

,currency,description,amount,date,type_expenses,account_name,account_number,category_description
68,CLP,Pago:de Sueldos 0775223308,1430817,2023-09-29,Ingreso,Cuenta Corriente,acc_zMJnK51TV87AK7AB,Ingreso
79,CLP,Transferencia Desde Linea De Credito,7700,2023-09-28,Ingreso,Cuenta Corriente,acc_zMJnK51TV87AK7AB,Pago de Deudas
82,CLP,Transferencia Desde Linea De Credito,5107,2023-09-28,Ingreso,Cuenta Corriente,acc_zMJnK51TV87AK7AB,Pago de Deudas
84,CLP,Transferencia Desde Linea De Credito,3240,2023-09-25,Ingreso,Cuenta Corriente,acc_zMJnK51TV87AK7AB,Pago de Deudas
88,CLP,Transferencia Desde Linea De Credito,28748,2023-09-25,Ingreso,Cuenta Corriente,acc_zMJnK51TV87AK7AB,Pago de Deudas
90,CLP,Transferencia Desde Linea De Credito,6600,2023-09-22,Ingreso,Cuenta Corriente,acc_zMJnK51TV87AK7AB,Pago de Deudas
93,CLP,Transferencia Desde Linea De Credito,22490,2023-09-21,Ingreso,Cuenta Corriente,acc_zMJnK51TV87AK7AB,Pago de Deudas
96,CLP,Transferencia Desde Linea De Credito,37881,2023-09-20,Ingreso,Cuenta Corriente,acc_zMJnK51TV87AK7AB,Pago de Deudas
103,CLP,Transferencia Desde Linea De Credito,71020,2023-09-20,Ingreso,Cuenta Corriente,acc_zMJnK51TV87AK7AB,Pago de Deudas
107,CLP,Pago:de Sueldos 0775223308,80000,2023-09-15,Ingreso,Cuenta Corriente,acc_zMJnK51TV87AK7AB,Ingreso
110,CLP,Transferencia Desde Linea De Credito,11950,2023-09-14,Ingreso,Cuenta Corriente,acc_zMJnK51TV87AK7AB,Pago de Deudas
112,CLP,Transferencia Desde Linea De Credito,2600,2023-09-11,Ingreso,Cuenta Corriente,acc_zMJnK51TV87AK7AB,Pago de Deudas
114,CLP,Transferencia Desde Linea De Credito,17,2023-09-04,Ingreso,Cuenta Corriente,acc_zMJnK51TV87AK7AB,Pago de Deudas
118,CLP,Transferencia Desde Linea De Credito,6814,2023-09-04,Ingreso,Cuenta Corriente,acc_zMJnK51TV87AK7AB,Pago de Deudas
126,CLP,Pago Pesos TEF,242018,2023-09-29,Ingreso,Tarjeta de Crédito,acc_yrpoWwT33nN5oYB4,Transferencias
151,USD,TRASPASO DEUDA INTERNAC,1254,2023-09-07,Ingreso,Tarjeta de Crédito,acc_1emKgXTbbjeblvRN,Transferencias

In [33]:
prueba = df.loc[df['date'] >= '2023-10-01']
prueba = prueba.loc[prueba['account_name'] != 'Tarjeta de Crédito']
prueba = prueba.loc[prueba['type_expenses'] != 'Ingreso']
prueba = prueba.loc[prueba['type_expenses'] != 'Inversiones']
prueba['amount'].sum()

460572

In [34]:
prueba = df.loc[df['date'] >= '2023-10-01']
prueba = prueba.loc[prueba['account_name'] != 'Cuenta Corriente']
prueba = prueba.loc[prueba['type_expenses'] != 'Ingreso']
prueba = prueba.loc[prueba['type_expenses'] != 'Inversiones']
prueba['amount'].sum()

339372

In [29]:
from bank import models as models_bank
import pandas as pd
import datetime
from llama_index import Document
import calendar

current_date = datetime.datetime.now()
last_day = calendar.monthrange(current_date.year, current_date.month)[1]
last_day_of_month = datetime.datetime(current_date.year, current_date.month, last_day)
last_day_of_month = int(last_day_of_month.day)

##df = df.loc[df['account_name'] == 'Cuenta Corriente']
df_expenses = df[df['type_expenses'] == 'Egreso']
df_expenses['date'] = pd.to_datetime(df_expenses['date'])
df_expenses['day'] = df_expenses['date'].dt.day

max_day_data = df_expenses['date'].max()
first_day_of_month = datetime.datetime(max_day_data.year, max_day_data.month, 1)

daily_expenses = df_expenses.groupby(['day']).agg({'amount': 'sum', 'date': 'count'}).reset_index()
daily_expenses.rename(columns={'date': 'day_count'}, inplace=True)
daily_expenses['AvgExpenses'] = daily_expenses['amount'] / daily_expenses['day_count']
total_average = daily_expenses['AvgExpenses'].sum()
daily_expenses['AvgExpenses_Percentaje'] = daily_expenses['AvgExpenses'].apply(lambda x: round((x / total_average) * 100,1))
 
current_year = max_day_data.year
current_month = max_day_data.month
df_current_month = df_expenses[(df_expenses['date'].dt.year == current_year) & (df_expenses['date'].dt.month == current_month)]
df_current_month = df_current_month.loc[df_current_month['date'] <= max_day_data]
expenses_current_month = df_current_month['amount'].sum()

daily_expenses = daily_expenses.loc[daily_expenses['day'] > int(max_day_data.day)]
daily_expenses = daily_expenses.loc[daily_expenses['day'] <= last_day_of_month]
percentaje_expenses_sum = 100 - daily_expenses['AvgExpenses_Percentaje'].sum()
expenses_current_month_projected = expenses_current_month*100/percentaje_expenses_sum
expenses_current_month_projected_format = str("{:,.0f}".format(expenses_current_month_projected)).replace(',','.')

daily_expenses['projected_expenses'] = daily_expenses['AvgExpenses_Percentaje'].apply(lambda x: round((x * expenses_current_month_projected) / 100,1))
daily_expenses['date'] = daily_expenses['day'].apply(lambda x: str(current_year) + '-'+ str(current_month)+ '-'+ str(x))
df_expenses = df[df['type_expenses'] == 'Egreso']
df_expenses['date'] = pd.to_datetime(df_expenses['date'])
df_expenses = df_expenses[['date','amount']]
df_expenses = df_expenses.groupby(['date']).sum()['amount'].reset_index()
df_expenses = df_expenses.rename(columns={'amount': 'Egresos'})
df_expenses = df_expenses.loc[df_expenses['date'] >= first_day_of_month]
print(df_expenses['Egresos'].sum())
df_expenses['date'] = df_expenses['date'].apply(lambda x: str(x)[:10])
df_expenses = df_expenses[['date','Egresos']]
print(df_expenses['Egresos'].sum())
daily_expenses = daily_expenses.rename(columns = {'projected_expenses':'Egresos'})
daily_expenses['Tipo'] = True
df_expenses['Tipo'] = False

df_expenses = df_expenses[['date','Egresos','Tipo']]
df_expenses = df_expenses.reset_index().drop(columns=['index'])
daily_expenses = daily_expenses[['date','Egresos','Tipo']]
daily_expenses = daily_expenses.reset_index().drop(columns=['index'])
df_total_month = pd.concat([df_expenses,daily_expenses], ignore_index=True)

## month by expenses

df_expenses = df[df['type_expenses'] == 'Egreso']
df_expenses['date'] = pd.to_datetime(df_expenses['date'])
df_expenses['day'] = df_expenses['date'].dt.day
max_day_data = df_expenses['date'].max()
max_month = max_day_data.month
end_date = max_day_data.replace(day=1) - pd.DateOffset(days=1)
start_date = end_date - pd.DateOffset(months=3) + pd.DateOffset(days=1)
df_last_3_months = df_expenses[(df_expenses['date'] >= start_date) & (df_expenses['date'] <= end_date)]
df_last_3_months['month'] = df_last_3_months['date'].apply(lambda x: str(x)[:7])
df_last_3_months = df_last_3_months[['month','amount']]
df_last_3_months = df_last_3_months.groupby(['month']).sum()['amount'].reset_index()
df_last_3_months = df_last_3_months.rename(columns={'amount': 'Egresos'})
df_last_3_months['Tipo'] = False
df_last_3_months['date'] = df_last_3_months['month'].apply(lambda x: str(x)[:10])
df_last_3_months = df_last_3_months[['date','Egresos','Tipo']]
df_last_3_months = df_last_3_months.reset_index().drop(columns=['index'])

max_month_previous = int(max_day_data.month)
max_month = str(current_year) + '-' + str(max_month)
previous_month = str(current_year) + '-' + str(max_month_previous-1)
new_row = ({'date': max_month, 'Egresos': expenses_current_month_projected, 'Tipo': True})
df_last_3_months_projected = pd.DataFrame([new_row])
df_last_3_months = pd.concat([df_last_3_months,df_last_3_months_projected], ignore_index=True)


df_last_3_months

/tmp/ipykernel_222/2244250492.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_expenses['date'] = pd.to_datetime(df_expenses['date'])
/tmp/ipykernel_222/2244250492.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_expenses['day'] = df_expenses['date'].dt.day
/tmp/ipykernel_222/2244250492.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_expenses['date'] = pd.to_datetime(df_expenses['date'])

799944
799944

/tmp/ipykernel_222/2244250492.py:63: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_expenses['date'] = pd.to_datetime(df_expenses['date'])
/tmp/ipykernel_222/2244250492.py:64: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_expenses['day'] = df_expenses['date'].dt.day
/tmp/ipykernel_222/2244250492.py:70: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_last_3_months['month'] = df_last_3_months['date'].apply(lambda x: str(x)[:7])

      date       Egresos   Tipo
0  2023-07  1.841896e+06  False
1  2023-08  1.768273e+06  False
2  2023-09  1.727251e+06  False
3  2023-10  1.210203e+06   True

In [11]:
first_day_of_month

datetime.datetime(2023, 10, 1, 0, 0)